* {
    margin: 0;
    padding: 0;
}

body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: url(../images/bg.jpg);
    background-size: 100vw;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    color: white;
    border-radius: 20px;
}
#dbConnect {
    color: green;
}
main {
    color: white;
    display: flex;
    gap: 20px;
    flex-direction: column;
}
#formContainer {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 20px;
    font-size: 20px;
}
#formContainer > form {
    display: flex;
    gap: 10px;
    align-items: last baseline;
    justify-content: center;
}
#formContainer > form > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}
#subBtnContainer {
    display: flex;
}
#subBtnContainer button {
    background: lightgreen;
}
#usersContainer {
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 20px;
    border-radius: 20px;
}
.rowWrap {
    border: 2px solid whitesmoke;
    margin: -1px;
}
.row {
    display: flex;
}
.updateRow {
    display: flex;
}
.cell1 {
    flex: 1;
    display: flex;
    padding: 5px;
}
.cell2,
.cell3,
.cell4 {
    flex-shrink: 2;
    flex: 5;
    display: flex;
    padding: 5px;
}
.cell5 {
    flex: 2;
    display: flex;
    padding: 5px;
}
.header {
    font-weight: bolder;
}
#update {
    background: lightblue;
    padding: 5px;
}
#delete {
    background: lightcoral;
    padding: 5px;
}
#confirm {
    background: lightgreen;
    padding: 5px;
}
#action {
    display: flex;
    gap: 10px;
}
#actionContainer {
    display: flex;
    gap: 10px;
}
input {
    padding: 5px;
    font-size: 20px;
}
button {
    cursor: pointer;
    padding: 5px;
}
