* {
    margin: 0;
    padding: 0;
}

body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background: lightgray;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    color: white;
}
#dbConnect {
    color: green;
}
main {
    display: flex;
}
#formContainer {
    flex: 1;
    width: 100%;
    background: lightblue;
    padding: 20px;
    height: 200px;
}
#formContainer > form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#formContainer > form > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#subBtnContainer {
    justify-content: center;
    padding-top: 20px;
}
#usersContainer {
    flex: 3;
    width: 100%;
    background: lightgreen;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.rowWrap {
    border: 2px solid black;
    margin: -1px;
}
.row {
    display: flex;
}
.updateRow {
    display: flex;
}
.cell1 {
    flex: 1;
    flex-wrap: wrap;
    display: flex;
    padding: 5px;
}
.cell2,
.cell3,
.cell4,
.cell5 {
    flex: 2;
    flex-wrap: wrap;
    display: flex;
    padding: 5px;
}
.header {
    font-weight: bolder;
}
#update {
    background: lightblue;
}
#delete {
    background: lightcoral;
}
#action {
    display: flex;
    gap: 10px;
}
#actionContainer {
    display: flex;
    gap: 10px;
}
